*{
    color: rgb(16, 9, 9);
     padding: 0;
    margin: 0;
}
header{
    background-color: #cde7b6;
    text-align: center;
    width: 100%;
    animation: box 4s linear 0.1s infinite alternate;
}
body{
    background-color:#84d0de;
    background-image: url("images/background.jpg");
    background-size: cover;
}
h1{
    color:brown;
    text-decoration: rgb(18, 5, 193) dotted underline;
}
.icon{
    height: 50px;
    width: 50px;
    background-image: url('images/icon.jpg');
    background-size: cover;
}
.form{
    border: 10px black solid ;
    border-radius: 40px;
    margin-left: 510px;
    margin-top: 30px;
    margin-bottom: 0;
    height: 515px;
    width: 515px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: flex-box 4s linear 0.1s infinite alternate;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color:none;
    text-decoration: red solid underline;
    opacity: 100%;
}
.inputbox{
    font-size: large;
}
#pass,#email{
    background-color: chartreuse;
}
button{
    font-family: cursive;
    color:black;
    background-color: crimson;
    margin-left: 50px;
}
.illusion {
    position: fixed ;
    top: 185px;
    left: 722px;
    width: 100px;
    height: 100px;
    display: flex;
    border: 5px dotted rgb(244, 62, 235);
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes box{
    0%{background-color:#B4D4FF}
    50%{background-color:#baf189}
    100%{background-color:#a3fa51}
}
@keyframes flex-box{
    0%{background-color:#ffffff}
    50%{background-color:#bde3e7}
    100%{background-color:#52EDFF}
}
