header{
    background-color: rgb(133, 228, 203);
    text-align: center;
    padding: 0;
    margin: 0;
    animation: box 4s linear 0.1s infinite alternate;
}
body{
    background-color:#b3faba;
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
}
h1{
    color:brown;
    text-decoration: rgb(14, 2, 188) dotted underline;
}
.form{
    border: 10px black solid ;
    border-radius: 50px;
    margin-left: 410px;
    margin-top: 30px;
    margin-bottom: 0;
    height: 515px;
    width: 700px;
    color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    animation: flex-box 4s linear 0.1s infinite alternate;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color:none;
    text-decoration: rgb(132, 53, 230) solid underline;
    opacity: 100%;
}
.inputbox{
    font-size: large;
}
#pass,#email{
    background-color:#ffa5ab;
}
button{
    font-family: cursive;
    color:black;
    background-color: crimson;
    margin-left: 30px;
}
@keyframes box{
    0%{background-color:#B4D4FF}
    50%{background-color:#86B6F6}
    100%{background-color:#1aa0cd}
}
@keyframes flex-box{
    0%{background-color:#ffffff}
    50%{background-color:#bde3e7}
    100%{background-color:#52EDFF}
}